<configuration>
    <property name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.azure" level="${LOGGING_LEVEL_COM_AZURE:-WARN}" />
    <logger name="ca.uhn.hl7v2" level="${LOGGING_LEVEL_CA_UHN_HL7V2:-WARN}" />
</configuration>
